extends layout
block content
    form(action='/user-create', method='POST')
       div.form-group
          label First Name
          input(name='first-name')

       div.form-group
          label Last Name
          input(name='last-name')

       div.form-group
          label Email
          input(name='email')

       div.form-group
          input(type="submit", class='btn btn-primary pull-right')

