doctype html
html
  head
    title= title
    link(rel='stylesheet', href='style.css')
    link(rel='stylesheet', href='server/bower_components/bootstrap/dist/css/bootstrap.min.css')
  body
    main.container
      div.row
        block content