extends layout

block title
   | Дорогий #{username}, ти сам винний що сюди прийшов, ніхто тебе не запрошував. Тому відповідальність за цей вибір лежить на тобі.
   | В любому випадку,

block content
   p Раді вітати твою жопу на піздатому чатіку для норм пацанів.
   p Вже майже все готово, щоб почати писати всяку хрєнь своїм їбанутим дружкам.
   p Для цього перейди на&nbsp;
    a(href="#{url}") цю силку
   p і введи цей код щоб підтвердити що ти готовий юзати сервіс
   p:b #{token}