md-menu
   md-button.md-icon-button(aria-label="settings", ui-menu, menu-open="$mdOpenMenu")
       ng-md-icon(icon="menu", size="24", md-menu-origin)
   md-menu-content(width="4")
       md-menu-item
           md-button
               ng-md-icon(icon="person_add", size="18")
               | Register